In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [23]:
path = r"C:\Users\Admin\Downloads\HPS_data.csv"

In [24]:
data= pd.read_csv(path)
data.head()

,Date,Coal usage (tonnes),Diesel usage Litres,Plant Availability %,Ave generation (MW),Electricity sent out (GWh),AV BLR efficiency %,MTBM (Hrs),Ave SHtr Temp (Deg Celsius),Ave Steam Pressure (Mpa),Reliability %,Maint Cost/U
0,1/1/2010,24792,6151,48,144.0,41.32,57,101,514,16.6,45,301000
1,1/2/2010,31932,6223,47,163.0,53.22,56,99,544,15.9,44,307002
2,1/3/2010,41220,6543,46,159.0,68.70,55,102,518,14.8,43,304022
3,1/4/2010,31332,6001,49,157.0,52.22,56,112,519,16.5,46,300221
4,1/5/2010,25284,5887,51,144.0,42.14,54,104,522,16.5,48,299255

In [30]:
# Drop date
data = data.drop('Date', axis=1)
data.head()

,Coal usage (tonnes),Diesel usage Litres,Plant Availability %,Ave generation (MW),Electricity sent out (GWh),AV BLR efficiency %,MTBM (Hrs),Ave SHtr Temp (Deg Celsius),Ave Steam Pressure (Mpa),Reliability %,Maint Cost/U
0,24792,6151,48,144.0,41.32,57,101,514,16.6,45,301000
1,31932,6223,47,163.0,53.22,56,99,544,15.9,44,307002
2,41220,6543,46,159.0,68.70,55,102,518,14.8,43,304022
3,31332,6001,49,157.0,52.22,56,112,519,16.5,46,300221
4,25284,5887,51,144.0,42.14,54,104,522,16.5,48,299255

In [33]:
# Feature selection (replace with your actual feature names)
features = ['Coal usage (tonnes)','Diesel usage Litres','Plant Availability %','Ave generation (MW)','Electricity sent out (GWh)','AV BLR efficiency %','MTBM (Hrs)','Ave  SHtr Temp (Deg Celsius)','Ave Steam Pressure (Mpa)','Reliability %' ]
target = 'Maint Cost/U'

X = data[features]
y = data[target]

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Train the model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)